@use "../../../styles/mixin.scss";

.dfParagraph {
  margin: 0;
  @include mixin.normalText;

  &__absolute {
    position: absolute;
  }

  &__relative {
    position: relative;
  }

  &__error {
    @include mixin.textError;
  }
}