.documentStyle {
  overflow: auto;
  height: calc(100vh - 80px);
  scroll-behavior: smooth;
}

.pageStyle {
  outline: 2px solid black;
  outline-offset: -5px;
}

.fieldContainerStyle {
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 0.6rem 1rem;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.fieldContainerStyle:last-child {
  margin-bottom: 0;
}